@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563eb; /* Bright Blue */
  --color-secondary: #14b8a6; /* Teal */
  --color-accent: #f59e0b; /* Amber */
  --color-base-100: #ffffff; /* Pure white */
  --color-base-200: #f8fafc; /* Light gray background */
  --color-base-content: #1e293b; /* Dark text */
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #60a5fa; /* Soft Blue */
  --color-secondary: #2dd4bf; /* Teal Green */
  --color-accent: #fbbf24; /* Golden Yellow */
  --color-base-100: #1e293b; /* Deep Navy */
  --color-base-200: #0f172a; /* Very dark background */
  --color-base-content: #f1f5f9; /* Light text */
}

* {
  font-family: "Montserrat", sans-serif;
}
ul li a.active {
  @apply text-accent;
}
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
