@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* --color-primary: #2563eb;
  --color-secondary: #14b8a6; 
  --color-accent: #f59e0b; 
  --color-base-100: #ffffff; 
  --color-base-200: #f8fafc; 
  --color-base-content: #1e293b;  */

  --color-primary: #2563eb; /* Blue 600 – trustworthy */
  --color-secondary: #64748b; /* Slate 500 – neutral */
  --color-accent: #f97316; /* Orange 500 – CTA */

  --color-base-100: #ffffff; /* White */
  --color-base-200: #f1f5f9; /* Slate 100 */
  --color-base-300: #e2e8f0; /* Borders */

  --color-base-content: #0f172a; /* Slate 900 – text */
}

@plugin "daisyui/theme" {
  name: "dark";
  /* --color-primary: #60a5fa; 
  --color-secondary: #2dd4bf; 
  --color-accent: #fbbf24; 
  --color-base-100: #1e293b; 
  --color-base-200: #0f172a;
  --color-base-content: #f1f5f9; */

  --color-primary: #60a5fa; /* Blue 400 */
  --color-secondary: #94a3b8; /* Slate 400 */
  --color-accent: #fb923c; /* Orange 400 */

  --color-base-100: #020617; /* Almost black */
  --color-base-200: #020617; /* Background */
  --color-base-300: #1e293b; /* Cards / borders */

  --color-base-content: #e5e7eb; /* Light text */
}

* {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
.raleway {
  font-family: "Raleway", sans-serif;
}

ul li a.active {
  @apply text-accent;
}
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
